<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Zion Tech | Auditoria</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="Cadastroprodutos">

<div class="admin-container">
  <aside class="menu-lateral">
    <h2>Zion Admin</h2>
    <nav>
      <a href="paginaadm">📊 Dashboard</a>
      <a href="auditoria"class="active">👤 Usuários</a>
      <a href="cadastroproduto">📦 Novo Produto</a>
      <a href="estoque">📋 Estoque</a>
      <a href="cadastroadm">👤 Cadastrar ADM</a>
      <a href="produto" style="margin-top: 40px; border: 1px solid #a100d5; display: block; text-align: center;">Voltar para Loja</a>
      <a href="#" onclick="logout()" style="color: #ff4d4d;">Sair</a>
    </nav>
  </aside>

  <main class="conteudo-principal">
    <section class="secao-auditoria">
      <div class="auditoria-header">
        <h1>Logs do Sistema</h1>
        <button onclick="carregarLogs()">Atualizar Dados</button>
      </div>

      <div id="carregando" class="d-none">Carregando...</div>

      <div id="container-tabela" class="table-responsive">
        <table class="tabela-auditoria">
          <thead>
          <tr>
            <th>Data / Hora</th>
            <th>Usuário</th>
            <th>Ação</th>
          </tr>
          </thead>
          <tbody id="tabela-corpo"></tbody>
        </table>
      </div>

      <div id="erro" class="d-none">Erro ao carregar dados!</div>
    </section>
  </main>
</div>

<script src="/js/auditoria.js"></script>
</body>
</html>
