<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zion tech store</title>
  <!--fonte do google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="logo">Zion Tech Store</div>
    <nav>
      <ul>
        <li>Home</li>
        <li><a href="produto">Produto</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </nav>
  </header>



  <main class="conteiner">
    <div class="tech-circle">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>

    <div class="list">
      <div class="item active">
        <div class="produto-img">
          <img src="img/iPhone-17-Pro-PNG-758x473.png" alt="Iphone 17 Pro">
        </div>
        <div class="content">
          <p class="produto-tag">Novo Lançamento</p>
          <p class="produto-name">Iphone 17 Pro</p>
          <p class="descrição">
            O iPhone 17 Pro Max é o smartphone mais potente e completo da Apple, ideal para quem busca desempenho, qualidade de imagem e tecnologia de ponta em um só aparelho.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="produto-img">
          <img src="img/watch_og_339223162 (1).png" alt="Apple Watch">
        </div>
        <div class="content">
          <p class="produto-tag">Tecnologia no seu pulso</p>
          <p class="produto-name">Apple Watch</p>
          <p class="descrição">
            Equipado com o poderoso chip S9, o relógio oferece desempenho rápido e eficiente, além de uma experiência fluida em todos os aplicativos e monitoramento de saúde.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="produto-img">
          <img src="img/vision pro (1).png" alt="Vision Pro">
        </div>
        <div class="content">
          <p class="produto-tag">Alta Performance</p>
          <p class="produto-name">Vision Pro</p>
          <p class="descrição">
            O Apple Vision Pro é a mais avançada tecnologia de realidade mista da Apple, criada para transformar a forma como você trabalha e interage com o mundo digital.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="produto-img">
          <img src="img/ps5.png" height="1707" alt="PS5">
        </div>
        <div class="content">
          <p class="produto-tag">O melhor do mundo gamer</p>
          <p class="produto-name">PS5</p>
          <p class="descrição">
            O PlayStation 5 (PS5) oferece uma experiência de jogo extremamente realista. Com suporte a 4K e 120 FPS, ele eleva o nível da sua gameplay.
          </p>
        </div>
      </div>
    </div>

    <div class="arrow">
      <button class="arrow-btn" id="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff" viewBox="0 0 16 16">
          <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
      </button>
      <button class="arrow-btn" id="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff" viewBox="0 0 16 16">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
      </button>
    </div>
    <script src="js/Script.js"></script>
  </main>
</body>
</html>

