<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro | Zion Tech Store</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/cadastro.js"></script>
</head>
<body class="login-body">

<header>
  <div class="logo">Zion Tech Store</div>
  <nav>
    <ul>
      <li><a href="produto">Voltar para Loja</a></li>
    </ul>
  </nav>
</header>

<main class="container-login">
  <form class="card-login">
    <h2>Criar Conta</h2>

    <div class="campo">
      <label>Nome Completo</label>
      <input type="text" placeholder="Digite seu nome" id="nome" required>
    </div>

    <div class="campo">
      <label>E-mail</label>
      <input type="email" placeholder="digite seu usuario" id="email-cadastro" required>
    </div>

    <div class="campo">
      <label>Senha</label>
      <input type="password" placeholder="••••••••" id="senha-cadastro" required>
    </div>

    <button type="button" class="btn-comprar" onclick="cadastrar()">Cadastrar</button>

    <p class="link-retro">Já tem conta? <a href="login">Fazer login</a></p>

  </form>
</main>

</body>
</html>
