<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo - Usuários</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Orbitron:wght@900&display=swap" rel="stylesheet">
</head>
<body class="Cadastroprodutos">

<aside class="menu-lateral">
    <h2>ADMIN</h2>
    <nav>
      <a href="paginaadm">📊 Dashboard</a>
      <a href="usuario"class="active">👤 Usuários</a>
      <a href="cadastroproduto">📦 Novo Produto</a>
      <a href="estoque">📋 Estoque</a>
      <a href="cadastroadm">👤 Cadastrar ADM</a>
      <a href="produto" style="margin-top: 40px; border: 1px solid #a100d5; display: block; text-align: center;">Voltar para Loja</a>
      <a href="#" onclick="logout()" style="color: #ff4d4d;">Sair</a>
    </nav>
</aside>

<main class="conteudo-principal">

    <p style="color: #a694c7; margin-bottom: 30px;">Lista de clientes do sistema.</p>

    <div class="secao-auditoria">
        <h2 class="titulo-sessao" style="text-align: left; font-size: 1.8rem; margin-bottom: 20px;">
            Usuários Registrados
        </h2>

        <div class="tabela-container">
            <table class="tabela-usuarios">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Tipo de Acesso</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody id="corpo-tabela">
                </tbody>
            </table>
        </div>
    </div>

</main>

<script src="js/usuarios.js"></script>
</body>
</html>
