<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Zion Tech | Painel Administrativo</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@900&display=swap" rel="stylesheet">
</head>
<body class="admin-page">

    <div class="menu-lateral">
        <h2>Zion Admin</h2>
        <a href="stats">📊 Dashboard</a>
        <a href="usuarios"> 👤usuarios</a>
        <a href="cadastro">📦 Novo Produto</a>
        <a href="estoque">📋 Estoque</a>
        <a href="cadastroadm">👤 Cadastrar ADM</a>
        <a href="produto" style="margin-top: 40px; border: 1px solid #a100d5;">Voltar para Loja</a>
        <a href="#" onclick="logout()" style="color: #ff4d4d;">Sair</a>
    </div>

    <div class="conteudo-principal">
        <section id="stats">
            <h1>Visão Geral</h1>
            <div class="container-cards">
                <div class="card">
                    <h3>Vendas Estimadas</h3>
                    <p id="vendas-valor">R$ 0,00</p>
                </div>
                <div class="card">
                    <h3>Total de Pedidos</h3>
                    <p id="vendas-qtd">0</p>
                </div>
                <div class="card">
                    <h3>Usuários Ativos</h3>
                    <p id="usuarios-qtd">0</p>
                </div>
            </div>
        </section>
    </div>

    <script src="Script.js"></script>
</body>
</html>
