<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo - Vendas</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Orbitron:wght@900&display=swap" rel="stylesheet">
    <style>

    </style>
</head>
<body class="Cadastroprodutos">

<aside class="menu-lateral">
    <h2>ADMIN</h2>
    <nav>
        <a href="#" class="active">📊 Dashboard</a>
        <a href="#">📦 Cadastrar Produto</a>
        <a href="#">👥 Clientes</a>
        <a href="#">⚙️ Cadastro Administradores</a>
    </nav>
</aside>

<main class="conteudo-principal">

    <h1>Visão Geral do Negócio</h1>

    <div class="container-cards">

        <div class="card">
            <h3>Quantidade de Vendas</h3>
            <p>0</p>
        </div>

        <div class="card">
            <h3>Faturamento Total</h3>
            <p>R$ 0,00</p>
        </div>

        <div class="card">
            <h3>Produtos Ativos</h3>
            <p>0</p>
        </div>

        <div class="card">
            <h3>Novos Clientes</h3>
            <p>0</p>
        </div>

    </div>
        <section class="secao-auditoria">
            <h2 class="titulo-sessao" style="text-align: left; font-size: 1.8rem; margin-bottom: 20px;">
                Últimas Vendas Registradas
            </h2>
        </section> </main>
</body>
</html>
